// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  height: 600px;
  text-align: center;
  color: black;
}
.header-1{
  background: linear-gradient(transparent 80%, #a7d6ff 80%);
  font-style: italic;
  position: absolute;
  top: 15%;
  left: 12%;
}
.box1 {
  padding: 2em 1em;
  margin: 2em 0;
  height: 300px;
  width: 600px;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  position: absolute;
  top: 27%;
  left: 8%;
}
.box1 h3 {
  margin: 0;
  padding: 0;
  line-height: 250%;
}
.header-2{
  background: linear-gradient(transparent 80%, #FFFF55 80%);
  font-style: italic;
  position: absolute;
  top: 15%;
  left: 57%;
}
.box2 {
  padding: 2em 1em;
  margin: 2em 0;
  height: 300px;
  width: 600px;
  border-top: solid 5px #FFD700;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  position: absolute;
  top: 27%;
  left: 55%;
}
.box2 h3 {
  margin: 0;
  padding: 0;
  line-height: 250%;
}

.btn-square-soft {
  display: inline-block;
  float: left;
  position: absolute;
  top: 80%;
  left: 60%;
  text-decoration: none;
  color: #AAAAAA;
  width: 300px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  background: linear-gradient(#fed6e3 0%, #ffaaaa 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}

.btn-square-soft:active {
  /*押したとき*/
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*沈むように*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(#fed6e3 0%, #ffbcbc 100%);/*グラデーションを明るく*/
}
