<div class="main">
	<h1>クラブメンバーを募集しよう</h1>

    <div class="box1">
    <h3>sports-mateはスポーツクラブの情報を登録して、<br>クラブの情報や大会情報や練習風景など投稿することができます。<br>ユーザーは会員登録をすると投稿にいいね・コメントなどをすることができます。</h3>
    </div>
</div>

<a href="/users/sign_up" class="btn-square-soft">登録して参加しよう</a>