<div class='container'>
    <div class='top-message col-md-12'>
    <h1>sports-mate</h1>
    </div>

    <h2>クラブメンバーを募集しよう</h2>
    <p>sports-mateはスポーツクラブの情報を登録して、クラブの情報や大会情報や練習風景など投稿することができます。<br>ユーザーは会員登録をすると投稿にいいね・コメントなどをすることができます。<br>
     </p>

    <div class="col-xs-3">
        <%= link_to "クラブの投稿を見てみよう", posts_path, class: "btn btn-primary" %>
      </div>
</div>