<div class="main">
	<div class="header-1">
		<h1>クラブメンバーを募集しよう</h1>
	</div>

    <div class="box1">
    <h3>sports-mateはスポーツクラブの情報を登録して、<br>大会情報、練習風景など投稿することができます。<br>
    クラブメンバーを集めて仲間達と健康的に<br>スポーツを楽しもう。
    </h3>
    </div>

    <div class="header-2">
		<h1>投稿にいいね・コメントをしよう</h1>
	</div>

    <div class="box2">
    <h3>ユーザー登録して、クラブの投稿に対して<br>
    	いいね・コメントしてみよう。<br><br>
    	気になるクラブの活動に参加してみよう。
    </h3>
    </div>
    <div class="btn-square-soft">
      <a href="/users/sign_up">登録して参加</a>
    </div>
</div>

